
<a href="#top" id="back-to-top">
  <i class="fa fa-angle-double-up" aria-hidden="true">
  </i>
</a>


<header>
  <div class="header-content">
    <div class="header-content-inner">
      <img src="../images/white.png" alt="logo">
      <p>The future of learning is here</p>
      <a href="/subscriptions/new" class="btn btn-primary btn-lg">Engage Now</a>
    </div>
  </div>
</header>

<!-- Intro Section -->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <span class="glyphicon glyphicon-fire" style="font-size: 60px"></span>
        <h3 class="section-heading">Trending Courses</h3>
      </div>
    </div>
  </div>
  <div class="trending">
    <ul class="stats_box">
      <li>
        <div class="sparkline line_day">
          <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
        </div>
        <div class="stat_text">
          <strong>75k Commits</strong>Facial Recognition
          <span class="percent"> +16%</span>
        </div>
      </li>
      <li>
        <div class="sparkline line_day">
          <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
        </div>
        <div class="stat_text">
          <strong>165k Commits</strong>Artifical Neural Networks
          <span class="percent"> +23%</span>
        </div>
      </li>
      <li>
        <div class="sparkline line_day">
          <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
        </div>
        <div class="stat_text">
          <strong>17k Commits</strong>Bioinformatics
          <span class="percent"> +30%</span>
        </div>
      </li>
      <li>
        <div class="sparkline line_day">
          <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
        </div>
        <div class="stat_text">
          <strong>59K Commits</strong>HTML/CSS/JS/jQuery
          <span class="percent"> +10%</span>
        </div>
      </li>
      <li>
        <div class="sparkline line_day">
          <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
        </div>
        <div class="stat_text">
          <strong>75k Commits</strong>Facial Recognition
          <span class="percent"> +16%</span>
        </div>
      </li>
      <li>
        <div class="sparkline line_day">
          <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
        </div>
        <div class="stat_text">
          <strong>165k Commits</strong>Artifical Neural Networks
          <span class="percent"> +23%</span>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Content 1 -->
<section class="content-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6">
        <h1>Courses</h1>
        <form>
          <input type="text" name="search" placeholder="Search..">
        </form>

    </div>
  </div>
</section>

<!-- Content 2 -->
<section class="content-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="section-header">Create a course</h2>
        <div class="container">
  <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Country</label>
      </div>
      <div class="col-75">
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Subject</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

      </div>
      <!-- <div class="col-sm-6">
        <img class="img-responsive img-circle center-block" src="images/grid-AI.jpg" alt="">
      </div> -->

    </div>
  </div>
</section>

<!-- Promos -->
<div class="container-fluid">
  <div class="row promo">
    <a href="#">
      <div class="col-md-4 promo-item item-1">
        <h3>
          Unleash
        </h3>
      </div>
    </a>
    <a href="#">
      <div class="col-md-4 promo-item item-2">
        <h3>
          Synergize
        </h3>
      </div>
    </a>

    <a href="#">
      <div class="col-md-4 promo-item item-3">
        <h3>
          Procrastinate
        </h3>
      </div>
    </a>
  </div>
</div><!-- /.container-fluid -->
<%= render 'static_pages/partials/modal' %>
<!-- Content 3 -->
<section class="content-3">
  <div class="container">
    <h2 class="section-header"><span class="glyphicon glyphicon-pushpin text-primary"></span><br> Sanity Check</h2>
    <p class="lead text-muted">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
    <a href="#" class="btn btn-primary btn-lg">Check Now</a>
  </div>
</div>
</section>
