

 <!-- Navigation -->
 <a href="#top" id="back-to-top">
   <i class="fa fa-angle-double-up" aria-hidden="true">
   </i>
 </a>

    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Services <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="about-us">
              <li><a href="#">Top Commitments</a></li>
              <li><a href="#">Find Courses</a></li>
              <li><a href="#">Create Course</a></li>
            </ul>
          </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

  <!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
              <img src="../images/white.png" alt="logo">
              <p>The future of learning is here</p>
                <a href="#" class="btn btn-primary btn-lg">Engage Now</a>
            </div>
        </div>
    </header>

  <!-- Intro Section -->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <span class="glyphicon glyphicon-fire" style="font-size: 60px"></span>
                    <h3 class="section-heading">Trending Courses</h3>
                </div>
            </div>
        </div>
        <div class="trending">
          <ul class="stats_box">
            <li>
              <div class="sparkline line_day">
                <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
              </div>
              <div class="stat_text">
                <strong>75k Commits</strong>Facial Recognition
                <span class="percent"> +16%</span>
              </div>
            </li>
            <li>
              <div class="sparkline line_day">
                <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
              </div>
              <div class="stat_text">
                <strong>165k Commits</strong>Artifical Neural Networks
                <span class="percent"> +23%</span>
              </div>
            </li>
            <li>
              <div class="sparkline line_day">
                <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
              </div>
              <div class="stat_text">
                <strong>17k Commits</strong>Bioinformatics
                <span class="percent"> +30%</span>
              </div>
            </li>
            <li>
              <div class="sparkline line_day">
                <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
              </div>
              <div class="stat_text">
                <strong>59K Commits</strong>HTML/CSS/JS/jQuery
                <span class="percent"> +10%</span>
              </div>
            </li>
            <li>
              <div class="sparkline line_day">
                <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
              </div>
              <div class="stat_text">
                <strong>75k Commits</strong>Facial Recognition
                <span class="percent"> +16%</span>
              </div>
            </li>
            <li>
              <div class="sparkline line_day">
                <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
              </div>
              <div class="stat_text">
                <strong>165k Commits</strong>Artifical Neural Networks
                <span class="percent"> +23%</span>
              </div>
            </li>
          </ul>
        </div>
    </section>

  <!-- Content 1 -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="images/8.jpg" alt="">
                </div>
                <div class="col-sm-6">
                  <h2 class="section-header">Courses</h2>
                  <p class="lead text-muted">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                  <a href="#" class="btn btn-primary btn-lg">Classify It</a>
                </div>

            </div>
        </div>
    </section>

  <!-- Content 2 -->
     <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                  <h2 class="section-header">Superior Quality</h2>
                  <p class="lead text-light">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                  <a href="#" class="btn btn-default btn-lg">Test It</a>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="images/grid-AI.jpg" alt="">
                </div>

            </div>
        </div>
    </section>

    <!-- Promos -->
  <div class="container-fluid">
        <div class="row promo">
          <a href="#">
        <div class="col-md-4 promo-item item-1">
          <h3>
            Unleash
          </h3>
        </div>
            </a>
            <a href="#">
        <div class="col-md-4 promo-item item-2">
          <h3>
            Synergize
          </h3>
        </div>
            </a>

      <a href="#">
        <div class="col-md-4 promo-item item-3">
          <h3>
            Procrastinate
          </h3>
        </div>
            </a>
        </div>
    </div><!-- /.container-fluid -->

  <!-- Content 3 -->
     <section class="content content-3">
        <div class="container">
      <h2 class="section-header"><span class="glyphicon glyphicon-pushpin text-primary"></span><br> Sanity Check</h2>
      <p class="lead text-muted">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                    <a href="#" class="btn btn-primary btn-lg">Check Now</a>
            </div>
        </div>
    </section>

  <!-- Footer -->
    <footer class="page-footer">

      <!-- Contact Us -->
        <div class="contact">
          <div class="container">
        <h2 class="section-heading">Contact Us</h2>
        <p><span class="glyphicon glyphicon-earphone"></span><br> +1(23) 456 7890</p>
        <p><span class="glyphicon glyphicon-envelope"></span><br> info@example.com</p>
          </div>
        </div>

        <!-- Copyright etc -->
        <div class="small-print">
          <div class="container">
            <p>Copyright &copy; Example.com 2015</p>
          </div>
        </div>


    </footer>
