

<a href="#top" id="back-to-top">
  <i class="fa fa-angle-double-up" aria-hidden="true">
  </i>
</a>
<header class="first-container"></header>

<section class="first-home">
  <div class="responsive-division hidden visible-xs"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <div class="header-content-inner">
            <img src="../images/white.png" class="img-responsive" alt="logo">
            <p class="future">The future of learning is here</p>

            <%= link_to 'Engage Now', new_user_path, class: 'btn btn-primary btn-lg' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Intro Section -->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <span class="glyphicon glyphicon-fire" style="font-size: 60px"></span>
        <h3 class="section-heading">Trending Courses</h3>
      </div>
    </div>
  </div>
  <div class="trending">
    <ul class="stats_box">
      <li>
        <div class="sparkline line_day">
          <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
        </div>
        <div class="stat_text">
          <strong>75k Commits</strong>Facial Recognition
          <span class="percent"> +16%</span>
        </div>
      </li>
      <li>
        <div class="sparkline line_day">
          <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
        </div>
        <div class="stat_text">
          <strong>165k Commits</strong>Artifical Neural Networks
          <span class="percent"> +23%</span>
        </div>
      </li>
      <li>
        <div class="sparkline line_day">
          <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
        </div>
        <div class="stat_text">
          <strong>17k Commits</strong>Bioinformatics
          <span class="percent"> +30%</span>
        </div>
      </li>
      <li>
        <div class="sparkline line_day">
          <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
        </div>
        <div class="stat_text">
          <strong>59K Commits</strong>HTML/CSS/JS/jQuery
          <span class="percent"> +10%</span>
        </div>
      </li>
      <li>
        <div class="sparkline line_day">
          <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
        </div>
        <div class="stat_text">
          <strong>75k Commits</strong>Facial Recognition
          <span class="percent"> +16%</span>
        </div>
      </li>
      <li>
        <div class="sparkline line_day">
          <canvas width="36" height="40" style="display: inline-block; width: 36px; height: 40px; vertical-align: top;"></canvas>
        </div>
        <div class="stat_text">
          <strong>165k Commits</strong>Artifical Neural Networks
          <span class="percent"> +23%</span>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Content 1 -->
<section class="content-1 text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Search a course</h1>
        <form class="class">
          <input type="text" class="form-control" name="search" placeholder="Search.." />
        </form>
      </div>

      <div class="row">

        <div class="col-md-4">
          <a href="/courses">
            <div class="course-box-1">
            </div>
            <div class="middle">
              <div class="text">DEVELOPMENT</div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/courses">
            <div class="course-box-2">
            </div>
            <div class="middle">
              <div class="text">IT</div>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="/courses">
            <div class="course-box-3">
            </div>
            <div class="middle">
              <div class="text">ANALYTICS</div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a href="/courses">
            <div class="course-box-4">
            </div>
            <div class="middle">
              <div class="text">DESIGN</div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/courses">
            <div class="course-box-5">
            </div>
            <div class="middle">
              <div class="text">SOFTWARE</div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/courses">
            <div class="course-box-6">
            </div>
            <div class="middle">
              <div class="text">HARDWARE</div>
            </div>
          </a>
        </div>
        <!-- <div class="col-md-3">
          <a href="/courses">
            <div class="course-box-7">
              <div class="middle">
                <div class="text">DATA SCIENCE</div>
              </div>
            </div>
          </a>
        </div> -->
      </div>
    </div>
</section>

  <!-- Content 2 -->
  <section class="content-2">
    <div class="container">
      <span><p class="section-header">Couldn't find a course?
        Maybe you've been searching for a topic that no one is talking about!?
        Now you have full control of your learning and future!
        <strong>BRINX</strong> is the first platform that allows <strong>YOU</strong> to create the courses you want to learn
        about and have a certified professional in the field that you're
        interested in develop a course completly customized to what the student wants.
        Below you can create a detailed course, commit it, promote it,
        and once it has gained enough traction and other commitments an
        instructor will develop the perfect course specifically for you!</p></span>
        <div class="commit-btn">
          <a href="/topics/new" class="btn btn-primary btn-lg">Commit your topic!</a>
        </div>

  </div>
</section>

<!-- Promos -->
<div class="container-fluid">
  <div class="row promo">
    <a href="/courses">
      <div class="col-md-4 promo-item item-1">
        <h3>
          Unleash
        </h3>
      </div>
    </a>
    <a href="/instructors">
      <div class="col-md-4 promo-item item-2">
        <h3>
          Instructors
        </h3>
      </div>
    </a>

    <a href="/subscriptions">
      <div class="col-md-4 promo-item item-3">
        <h3>
          My Courses
        </h3>
      </div>
    </a>
  </div>
</div><!-- /.container-fluid -->
<%= render 'static_pages/partials/modal' %>
<!-- Content 3 -->
<section class="content-3">
  <div class="container">
    <h2 class="section-header"><span class="glyphicon glyphicon-btc text-primary"></span><br> BRINX Business</h2>
    <p class="lead text-muted">Develop your own structed training content for your employees.</p>
    <a href="/subscriptions/new" class="btn btn-primary btn-lg">Learn More</a>
  </div>
</div>
</section>
