<p id="notice"><%= notice %></p>

<p>
  <strong>Top commit:</strong>
  <%= @commit_page.top_commit %>
</p>

<%= link_to 'Edit', edit_commit_page_path(@commit_page) %> |
<%= link_to 'Back', commit_pages_path %>
