<section  class="first-section">

  <div class="container">
  <div class="row">
<div class="index-content">
    <div class="container">
            <% @topics.each do |topic| %>
            <a href="blog-ici.html">
                <div class="col-md-3">
                    <div class="card">

                        <%= image_tag topic.logo.url, class: 'img-responsive' %>
                        <h4><%= topic.name.capitalize %></h4>
                        <p>  </p>
                        <%= link_to 'Commit now', new_commitment_path, class: 'blue-button' %>
                    </div>
                </div>
            </a>
            
            <%end %>
                        
    </div>
</div>


</div>
</div>

</section>
