
<div class="margin-top_angel">
  <div class="container">


    <div class="row">
      <p id="notice"><%= notice %></p>

      <div class="col-md-12">


        <div class="panel panel-default">
        <% @instructors.each do |instructor| %>
        <div class="col-md-4">

          <div id="container">
            <div class="image" style="background-image: url(https://25.media.tumblr.com/f9cd81645ebd2f0904227b42784bbfae/tumblr_mj6r7nBfdV1s7aky5o2_r1_1280.jpg)"></div>
            <div class="info">

              <h1 class="position">
              <%= link_to 'Name', instructor_path(instructor) %>
            </h1>
            <h4><i class="fa fa-map-marker"></i> India (Punjab)</h4>
  <p><i class="fa fa-briefcase"></i> Web Design and Development.</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                <a href=""><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href=""><i class="fa fa-google-plus fa-2x"></i></a>
                <a href=""><i class="fa fa-github fa-2x"></i></a>
                <a href=""><i class="fa fa-youtube fa-2x"></i></a>
              </div>
            </div>
          </div>

    </div>
    <% end %>
  </div>

</div>
</div>
</div>
</div>
</div>
</div>
<br>

<div class="col-md-8">
<%= link_to 'New Instructor', new_instructor_path %>
</div>
