<section class="first-section">


  <div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <ul class="list-group">
                <a href="#" class="list-group-item active">
                  <br/><i class="glyphicon glyphicon-user"></i> User<br/><br/>
                </a>
                <a href="#" class="list-group-item ">
                  <br/><i class="glyphicon glyphicon-tasks"></i> Subsciptions<br/><br/>
                </a>
                <a href="#" class="list-group-item ">
                  <br/><i class="glyphicon glyphicon-thumbs-up"></i> Commitments<br/><br/>
                </a>
                <a href="#" class="list-group-item">
                  <br/><h4 class="glyphicon glyphicon-wrench"></h4> Edit My Information<br/><br/>
                </a>
                <!-- <a href="#" class="list-group-item">
                  <br/><i class="glyphicon glyphicon-new-window"></i> New<br/><br/>
                  </a> -->
              </ul>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    <center>
                      <h1 class="glyphicon glyphicon-user" style="font-size:14em;color:#00001a"></h1>
                      <h2 style="margin-top: 0;color:#00001a">Welcome</h2>
                      <h3 style="margin-top: 0;color:#00001a">User HomePage</h3>
                    </center>
                </div>


                <div class="bhoechie-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-tasks" style="font-size:12em;color:#00001a"></h1>
                      <h2 style="margin-top: 0;color:#00001a"><a href="/subscriptions" class="btn btn-sm btn-primary btn-block" role="button">Subscriptions</a></h2>
                      <h3 style="margin-top: 0;color:#00001a">My Subscriptions</h3>
                    </center>
                </div>


                <div class="bhoechie-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-thumbs-up" style="font-size:12em;color:#00001a"></h1>
                      <h2 style="margin-top: 0;color:#00001a"><a href="/commitments" class="btn btn-sm btn-primary btn-block" role="button">Commits</a></h2>
                      <h3 style="margin-top: 0;color:#00001a">My Commitments </h3>
                    </center>
                </div>

                <div class="bhoechie-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-edit" style="font-size:12em;color:#00001a"></h1>
                      <h2 style="margin-top: 0;color:#00001a"><a href="" class="btn btn-sm btn-primary btn-block" role="button">Edit</a></h2>
                      <h3 style="margin-top: 0;color:#00001a">Settings</h3>
                    </center>
                </div>

                <div class="bhoechie-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-flash" style="font-size:12em;color:#00001a"></h1>
                      <h2 style="margin-top: 0;color:#00001a"><a href="/courses" class="btn btn-sm btn-primary btn-block" role="button">Discover a new course</a></h2>
                      <h3 style="margin-top: 0;color:#00001a">Courses</h3>
                      <h1 class="glyphicon glyphicon-fire" style="font-size:12em;color:#00001a"></h1>
                      <h2 style="margin-top: 0;color:#00001a"><a href="/commitments" class="btn btn-sm btn-primary btn-block" role="button">Trending Commits</a></h2>
                      <h3 style="margin-top: 0;color:#00001a">Commit now!</h3>
                    </center>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
