.custom-logo img {
    width: 115px;
    margin-top: -13px;
}


.footer {
    background: #EDEFF1 ;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC ;
    border-top: 1px solid #DDDDDD ;

}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8 ;
    color: #54697E ;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D ;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}

.footer-bottom {
    background: #E3E3E3 ;
    /*border-top: 1px solid #31c6ef ;*/
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60px;
    position: absolute;
    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}

h1, h2, h3, .h1, .h2, .h3 {
  margin-top: 60px;
}
