.custom-logo img {
    width: 115px;
    margin-top: -13px;
}

.margin-top_angel {
  margin-top: 50px;
}

h1.create-topic {
  text-align: center;
  margin-top: -40px;
}

#contact_form {
  margin-top: 55px;
}

.container-form {

}



.fa-facebook-square {
  font-size: 75px;
  color: #0c66c1
}

.fa-twitter {
  font-size: 75px;
  color: #4fadff
}

.fa-instagram {
  font-size: 75px;
  color: purple;
}

.fa-google-plus {
  font-size: 75px;
  color: orange;
}


.dropdown {
    position: relative;
    display: inline-block;
}

#grid {
  color: grey;
  font-size: 250%;
}

/*#back-to-top.fa {
  margin-right: 15px;
}*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.footer {
    background: #EDEFF1 ;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC ;
    border-top: 1px solid #DDDDDD ;

}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8 ;
    color: #54697E ;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D ;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}

.footer-bottom {
    background: #E3E3E3 ;
    /*border-top: 1px solid #31c6ef ;*/
    /*padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60px;*/
    bottom: 0;
    /*position: fixed;*/
    right: 0;
    left: 0;
    z-index: 1030;
}
.footer-bottom p.pull-left {
    padding-top: 20px;
    color: grey;
}

.footer-bottom .container {
  height: 78px;
}

.margin-top_angel{
  /*height: calc(100vh - 130px);*/
}

h1, h2, h3, .h1, .h2, .h3 {
  /*margin-top: 60px;*/
}

.margin-top {
  padding-top: 70px;
}
