  <!--   <footer class="page-footer">

        <div class="contact">
          <div class="container">
        <h2 class="section-heading">Contact Us</h2>
        <p><span class="glyphicon glyphicon-earphone"></span><br> +1(23) 456 7890</p>
        <p><span class="glyphicon glyphicon-envelope"></span><br> info@example.com</p>
          </div>
        </div>

        <div class="small-print">
          <div class="container">
            <p>Copyright &copy; Example.com 2015</p>
          </div>
        </div>

        <a href="#top" id="back-to-top">
    <i class="fa fa-angle-double-up" aria-hidden="true">
    </i>
  </a>

    </footer>  -->


<footer class="page-footer">
   <div class="footer-bottom">
       <div class="container">
           <p class="pull-left"> ...let the students take control. </p>

           <div class="pull-right">
               <%= image_tag("logoandletterwhite.png" , class:"logo") %>

           </div>
       </div>
   </div>
</footer>
