
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-thumbs-up">
          </span>&ensp;Topics</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-plus text-success"></span>

          <%= link_to '&ensp;&ensp;Create a new topic'.html_safe, new_topic_path %>
        </li>

        <li class="list-group-item"><span class="glyphicon glyphicon-flash text-success"></span>

          <%= link_to '&ensp;&ensp;All topics'.html_safe, topics_path %>
        </li>
        <li class="list-group-item">
          <%= link_to '<i class="fa fa-rocket text-success"></i>&ensp;&ensp;&ensp;Trending topics'.html_safe, trending_topics_path %>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="/courses"><i class="fa fa-list" ></i>&ensp;Courses</a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="/dashboard"><i class="fa fa-tv" ></i>&ensp;My subscriptions</a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class=" glyphicon glyphicon-envelope">
          </span>&ensp;Messages</a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="list-group">

        <a href="#" class="list-group-item">Direct messages</a>
        <a href="#" class="list-group-item">Unit discusions</a>
        <a href="#" class="list-group-item">Course discusions</a>

      </div>
    </div>
  </div>
  
</div>